/** blog section**/
.blog {
    background: var(--gary-white);
}

.blog-item {
    width: 30%;
    background: var(--whitecolor);

}
.blog-item.mg {
    margin: 0 5%;
}
.blog-item-img img {
    width: 100%;
}
.blog-info{
    padding: 20px;
}
.blog-list {
    list-style: none;
    margin: 10px 0;
}
.blog-list li {
    margin: 0 5px;
}
.blog-list li i {
    color: var(--maincolor);
}
.blog-title {
    font-weight: bold;
    margin: 20px 0;

}
.blog-desc {
    color: var(--graycolor);
    line-height: 1.5;
}
.blog-link {
    color: var(--maincolor)f;
}