/**
1- common styles
2- General styles
3- sections
    3.0 header
    3.1 home section
    3.2 about section
    3.3 portofolio section
    3.4 services section
    3.5 prices section
    3.6 team section
    3.7 blog bage
    3.8 contact section
    3.9 footer section

**/




/*1- common styles */
/* 
overlay
opacity hover
section tittle
section padding
hover effect 1 from left to right
hover effect 2 from top to bottom
containar يعنى بعمل صندوق واخد width ومحتوى لصفحة يكون فى نصها 
*/
/*1- common styles */
:root{
    --maincolor : #6195ff ;
    --graycolor : #999 ;
    --bg-gray   : #f9f9f9 ;
    --whitecolor: #fff ;
    --gary-white : #e8e8e8 ;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0 ,0,.6);
}
.hover-opacity {
    transition: opacity .3s;
}
.hover-opacity:hover {
    opacity: 0.8;
}
.ltr-effect, .ltb-effect {
    position: relative;
}
.ltr-effect::after, .ltb-effect::after {
    position: absolute;
    content: "";
    background: #333;
    top: 0;
    left: 0; 
    right: 0;
    bottom: 0;
    z-index: -1;
}
.ltr-effect:hover::after {
    width: 100%;
}
.ltb-effect:hover::after {
    height: 100%;
}
.ltr-effect::after {
    width: 0;
    transition: width .5s;
}
.ltb-effect::after {
    height: 0;
    transition: height .5s;
}
ul {
    list-style: none;
}
/**2- general styles**/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;/** معناها ان ال border اللى هعمله بعد كدا ياخد من  width بتاعه من يزود عليه **/
}
body {
    font-family: 'Varela Round', sans-serif;
}
.container {
    width: 85%;
    margin: auto;
}
.clear {
    clear: both;
}
h1, h2, h3, h4, h5, h6 {
    font-family: montesrrat,sans-serif;
}
button {
    font-family: 'Varela Round', sans-serif;
}
.section-header {
    text-align: center;

}
.section-header .section-title {
    font-size: 32px;
}
.section-header .line {
    display: block;
    height: 4px;
    width: 60px;
    margin: 0 auto 70 auto;
    background-color: var(--maincolor);
}
.pd-y {
    padding: 120px 0px;
}